.formBG {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 75%;
    position: fixed;
    left: 12%;
    top: 0%;
    z-index: 2;
    box-shadow: 5px 5px 5px black;
}

.focusCompany {
    top: 0%;
}

.focusBeer {
    top: -8%;
}

.focusDesc {
    top: -16%;
}

.focusAbv {
    top: -24%;
}

/* .short {
    width: 25%;
}

.small {
    display: flex;
    flex-direction: row;
    text-align: center;
} */
